{
  "db": {},
  "amq": {},
  "mail": {},
  "security": {
    "matchers": [],
    "rules": [
      {
        "name": "Allow All",
        "description": "Allow any request.",
        "resType": "*",
        "user": [
          "*"
        ],
        "action": "allow"
      }
    ],
    "sessionTimeout": 180,
    "defaultAllow": false,
    "clientSession": true
  }
}