{
  "db": {},
  "amq": {},
  "mail": {},
  "security": {
    "matchers": [],
    "denyRules": [],
    "allowRules": [
      {
        "id": "a9cd3828-26ec-424f-8c00-81a0f50fabcb",
        "resType": "*",
        "user": [
          "*"
        ]
      }
    ],
    "dbRules": [],
    "sessionTimeout": 180,
    "defaultAllow": false,
    "clientSession": true
  }
}